#fields{
	margin-bottom: 1%;
	flex-direction: row;
	justify-content: space-between;
}

.field-group{
	align-items: flex-end;
}

#columns{
	flex-direction: row;
	justify-content: space-between;
	border-top-width: 1px;
	border-color: black;
}

.column{
	flex-shrink: 0;
	flex-grow: 1;
}

.event-label{
	white-space: normal;
}

#open{
	margin-right: 3%;
	border-right-width: 1px;
	border-color: black;
}

#close{
	margin-left: 3%;
}

.column > *{
	margin-top: 3%;
}