#selector{
	border-bottom-width: 1px;
	margin-right: -2px;
	margin-left: 3px;
}

#parameters{
	margin-left: 10px;
	background-color: #484848;
	padding-right: 2px;
	border-bottom-left-radius: 4px;
}

MethodParameterElement > .unity-base-field > Label{
	min-width: 60px;
}